<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-level - %msg%n"/>
        </Console>
        <Console name="stderr" target="SYSTEM_ERR">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-level - %msg%n"/>
        </Console>
        <RollingFile
                name="file"
                fileName="logs/latest.log"
                filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz"
                ignoreExceptions="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-level - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Root>
        <Logger name="com.lukeoldenburg.g2d2.server.error" level="error" additivity="false">
            <AppenderRef ref="stderr"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="com.lukeoldenburg.g2d2.server.warn" level="warn" additivity="false">
            <AppenderRef ref="stderr"/>
            <AppenderRef ref="file"/>
        </Logger>
        <Logger name="com.lukeoldenburg.g2d2.server.debug" level="debug" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
        <Logger name="com.lukeoldenburg.g2d2.server.trace" level="trace" additivity="false">
            <AppenderRef ref="stdout"/>
        </Logger>
    </Loggers>
</Configuration>